$tablet-width: 768px;
$desktop-width: 1025px;

@mixin mobile {
  @media (ax-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin transform($para) {
  -moz-transform: $para;
  -webkit-transform: $para;
  -o-transform: $para;
  -ms-transform: $para;
  transform: $para;
}

@mixin transition($para){
  -moz-transition: $para;
  -webkit-transition: $para;
  -o-transition: $para;
  -ms-transition: $para;
  transition: $para;
}

@mixin user-select($para){
  -webkit-user-select: $para;
  -moz-user-select: $para;
  -ms-user-select: $para;
  -o-user-select: $para;
  user-select: $para;
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
      $animations: #{$animations + nth($animate, $i)};

      @if $i < $max {
          $animations: #{$animations + ", "};
      }
  }
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
      @content;
  }
  @-moz-keyframes #{$animationName} {
      @content;
  }
  @-o-keyframes #{$animationName} {
      @content;
  }
  @keyframes #{$animationName} {
      @content;
  }
}