@import 'common';

html, body {color:#333;font-size:14px;text-rendering:optimizeLegibility;width:100%;min-height:100%;position:relative;text-rendering: optimizeLegibility !important;-webkit-font-smoothing: antialiased !important;}


/*css3*/
.header-lang-btn,.home-upload-btn{
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}